<div class="container" fxLayout="row" fxLayoutAlign="center none">
  <div fxFlex="95%">

    <h1>Banco de questões</h1>

    <div mat-dialog-actions align="end">
      <button mat-raised-button class="primary">Adicionar</button>
    </div>
    <br><br>

    <app-filters></app-filters>

    <br>

    <div *ngFor="let question of questions">
      <mat-card>
        <mat-label>Disciplina: </mat-label>
        <span>{{question.subject}}</span>
        <br><br>

        <mat-label>Nível de dificuldade: </mat-label>
        <span>{{question.level}}</span>
        <br><br>

        <mat-label>Questão: </mat-label>
        <span>{{question.ask}}</span>
        <br><br>

        <mat-label>Alternativas: </mat-label>
        <br><br>
        <div class="">
          <span>{{question.alternativeA}}</span>
          <br><br>
          <span>{{question.alternativeB}}</span>
          <br><br>
          <span>{{question.alternativeC}}</span>
          <br><br>
          <span>{{question.alternativeD}}</span>
          <br><br>
          <span>{{question.alternativeE}}</span>
          <br><br>
        </div>

        <mat-label>Resposta: </mat-label>
        <span>{{question.answer}}</span>
        <br><br>

      </mat-card>
      <br><br>
    </div>

  </div>
</div>