<div class="container" fxLayout="row" fxLayoutAlign="center none">
    <div fxFlex="95%">

        <h2>Prova</h2>

        <div>
            <button mat-mini-fab color="accent" (click)="removeQuestion()">
                <mat-icon>remove</mat-icon>
            </button>

            <mat-form-field class=" example-full-width" appearance="outline">
                <mat-label>N° questões</mat-label>
                <input type="text" aria-label="Number" matInput [(ngModel)]="questionsCount">
            </mat-form-field>

            <button mat-mini-fab color="accent" (click)="addQuestion()">
                <mat-icon>add</mat-icon>
            </button>
        </div>

        <div *ngFor="let question of questionsquantity">
            <mat-card>
                <mat-card-content>
                    <div fxLayout="row" fxLayoutAlign="none">
                        <table>
                            <tr>
                                <td>
                                    <div class="no-records animate">Questão</div>
                                </td>
                                <td class="arrowbutton">
                                    <!-- Material para animação de ocultação de questão: https://material.angular.io/components/tree/overview -->
                                    <button>
                                        <mat-icon>keyboard_arrow_down</mat-icon>
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="filters">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Pergunta</mat-label>
                            <input type="text" placeholder="Escolha um" aria-label="Number" matInput
                                [formControl]="myControl" [matAutocomplete]="auto">
                            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                    {{option}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Disciplina</mat-label>
                            <mat-select [(value)]="selected">
                                <mat-option value="option0">None</mat-option>
                                <mat-option value="option1">História</mat-option>
                                <mat-option value="option2">Geografia</mat-option>
                                <mat-option value="option3">Matemática</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Tema</mat-label>
                            <input type="text" placeholder="Pick one" aria-label="Number" matInput
                                [formControl]="myControl" [matAutocomplete]="auto">
                            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                    {{option}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Nível</mat-label>
                            <mat-select [(value)]="selected">
                                <mat-option value="option0">None</mat-option>
                                <mat-option value="option1">Fácil</mat-option>
                                <mat-option value="option2">Médio</mat-option>
                                <mat-option value="option3">Díficil</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Tipo</mat-label>
                            <mat-select [(value)]="selected">
                                <mat-option value="option0">None</mat-option>
                                <mat-option value="option1">Aberta</mat-option>
                                <mat-option value="option2">Fechada</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </mat-card-content>
            </mat-card>
            <br><br>
        </div>


    </div>
</div>