.navbar-spacer {
  flex: 1 1 auto;
}

.navbar {
  z-index: 2;
}

.navbar-brand {
  text-decoration: none;
  color: white;
}

.navbar-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.iconPerson {
  color: white;
  vertical-align: middle;
}

.navbar-is-mobile .navbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

.navbar-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
           causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.navbar-is-mobile .navbar-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
           `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

/*Set sidenav width*/

mat-sidenav {
  min-width: 180px !important;
  border-right: 1px solid #eee;
  box-shadow: 6px 0 6px rgba(0, 0, 0, .1);
  /* background-color:rgb(63, 81, 181); */
}

/* Set height of wrapper to stop content from moving up & down */

.progress-bar-container {
  height: 5px;
}

a.mat-list-item.active {
  background: rgba(0, 0, 0, .04);
}

#push-bottom {
  position: absolute;
  bottom: 0;
}

.navbar-spacer {
  flex: 1 1 auto;
}

.navbar {
  z-index: 2;
  background-color: #131215;
}

.imgMenu {
  width: 80px;
  height: 80px;
}

.imgLanding {
  width: 120px;
  height: 120px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.firstText {
  font-size: 48px;
  margin-top: 1em;
  margin-left: 2em;
  /* font-family: 'Dosis', sans-serif; */
  font-weight: 800;
}

.imgTest {
  width: 200px;
  height: 200px;
}

.imgNotebook {
  width: 250px;
  height: 250px;
}

.btnComecar {
  background-color: #6750A4;
  color: #FFFFFF;
  width: 300px;
  font-size: 18px;
  height: 43px;
  border-radius: 33px;
}

.thirdText {
  display: flex;
  margin-top: 1em;
  margin-left: 2em;

  justify-content: flex-start;
  text-align: left;
  font-weight: lighter;
  font-size: 28px;
}

.secondText {
  display: flex;
  margin-top: 1em;
  margin-right: 2em;

  justify-content: flex-end;
  text-align: right;
  font-weight: lighter;
  font-size: 28px;
}

.btnLogin {
  height: 35px;
  width: 120px;
  font-size: 85%;
  border: 1px solid white !important;
  border-radius: 40px;
  color: #FFFFFF;
  float: right !important;
}

.navbar-brand {
  text-decoration: none;
  color: white;
}

.navbar-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #FFFFFF;
  background-color: #231D36;
  font-family: 'Dosis', sans-serif;
}

.navbar-is-mobile .navbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

.navbar-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
           causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.navbar-is-mobile .navbar-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
           `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

/*Set sidenav width*/

mat-sidenav {
  min-width: 180px !important;
  border-right: 1px solid #eee;
  box-shadow: 6px 0 6px rgba(0, 0, 0, .1);
  /* background-color:rgb(63, 81, 181); */
}

/* Set height of wrapper to stop content from moving up & down */

.progress-bar-container {
  height: 5px;
}

.primary {
  background-color: #6750A4;
  color: white;
}

a.mat-list-item.active {
  background: rgba(0, 0, 0, .04);
}

#push-bottom {
  position: absolute;
  bottom: 0;
}